.container-form {
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    height: 50px;
}

.container-form-elem {
    display: inline-block;
}

.container-text {
    padding-left: 10%;
}

.container-image {
    min-height: 200px;
    max-height: 600px;
    margin-bottom: 1rem;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    border: #000 dashed 1px;
}

.img-container > img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}

#exif-data {
    padding-left: 10%;
}

.text-warning {
    text-decoration-color: #b94a48;
    font-weight: bold;
}

/* File upload */

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
}

.choose{
    cursor: pointer;
    width:200px;
    background:#fff;
    border:1px solid red;
    margin-left:10px;
    padding:4px;
}

.custom-file-upload,.choose{
    display:inline-block;
}

/* Checkbox and radio */

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label .range-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label .range-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: #339cff;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #ccc;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

/* Slider */
.range-custom {
    -webkit-appearance: none;
    margin: 7px 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    width: 200px;
    cursor: pointer;
}

.range-custom:focus {
    outline: none;
}

.range-custom::-webkit-slider-runnable-track {
    height: 5px;
    cursor: pointer;
    background: #ddd;
}

.range-custom::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff;
    border: 2px solid #339cff;
    height: 19px;
    width: 10px;
    border-radius: 3px;
    background: #ddd;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

.range-custom:focus::-webkit-slider-runnable-track {
    background: #ddd;
}

.range-custom::-moz-range-track {
    height: 5px;
    cursor: #ddd;
    background: #dddddd;
}

.range-custom::-moz-range-thumb {
    box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff;
    border: 2px solid #339cff;
    height: 19px;
    width: 10px;
    border-radius: 3px;
    background: #ddd;
    cursor: pointer;
}

.range-custom::-ms-track {
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.range-custom::-ms-fill-lower .range-custom::-ms-fill-upper {
    background: #ddd;
}

.range-custom::-ms-thumb {
    box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff;
    border: 2px solid #339cff;
    height: 19px;
    width: 10px;
    border-radius: 3px;
    background: #ddd;
    cursor: pointer;
    height: 5px;
}

.range-custom:focus::-ms-fill-lower .range-custom:focus::-ms-fill-upper {
    background: #ddd;
}